<html>
	<head>
		<title>Rating Predictions - <%= contest %></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body>
		<div class="container">
			<div class="row" style="margin-top:15px;">
					<div class="col-8">
	    			<h1>Rating Predictions for <a href="https://www.codechef.com/<%= contest %>"><%= contest %></a> - <%= typename %></h1>
					</div>
					<div class="col-4">
	    			<span>Codechef Rating Predictor - <a href="https://github.com/vsp4/codechef-rating-predictor">Github</a></span> <br/>
	    			<span>Last updated: <%= elapsed %></span>
					</div>
			</div>

			<div class="table table-responsive">
				<table class="table table-dark">
					<thead class="thead-dark">
						<tr>
							<th>#</th>
							<th>Username</th>
							<th>Previous Rating</th>
							<th>New Rating</th>
							<th>Rating Change</th>
						</tr>
					</thead>
					
					<tbody>
						<% result.forEach((user) => { %>
						<tr
						<% if(user.change > 0) { %> class = "bg-success" <% } %>
						<% if(user.change < 0) { %> class = "bg-danger" <% } %>
						<% if(user.change == 0) { %> class = "bg-primary" <% } %>>
							<td><%= user.rank %></th>
							<td><%= user.user %></td>
							<td><%= user.previous %></td>
							<td><%= user.rating %></td>
							<th><%= user.change %></td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
